body {
 background-color:rgb(52, 199, 199)
};

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
};

.country {
   color: chartreuse;
   font-size: small;
}